* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 16px;
    max-width: 300px;
    max-height: 400px;
}

button {
    padding: 8px 16px;
}

.row1 {
    background-color: rgb(215, 211, 211);
    text-align: right;
    width: 150px;    
}